<div class="main-container">
    <div class="container">
        <div class="entradas">
            <h2>Entradas</h2>
                <mat-form-field>
                    <p>Nombre</p>
                    <input matInput [(ngModel)]="nombre" name="nombree" type="text" class="inputStyle" placeholder="Escribe tu nombre">
                </mat-form-field>
                <mat-form-field>
                    <p>Cantidad de compradores</p>
                    <input matInput [(ngModel)]="cantComprad" name="cantComprador" type="text" class="inputStyle">
                </mat-form-field>
                <mat-form-field>
                    <p>Cantidad de boletos</p>
                    <input [(ngModel)]="cantBoletos" name="cantBolet" type="number" class="inputStyle">
                </mat-form-field>
                
                <p>Tarjeta CineFan</p>
                <input [(ngModel)]="tarjetaCineco" name="tarjetaCinefan" value="si" type="radio" id="radioSi">
                <label for="radioSi">Si</label>
                <input [(ngModel)]="tarjetaCineco" name="tarjetaCinefan" value="no" type="radio" id="radioNo">
                <label for="radioNo">No</label>
                
        </div>
        <div class="salidas">
            <h2>Salidas</h2>
                <label for="valorPago">Total a pagar</label>
                <input type="text" name="valorPago" id="totalPagarIn" value="{{totalFinal}}" class="inputStyle" disabled>
                <h2>{{mensaje}}</h2>
        </div>
    </div>
    <div class="container container-acciones">
        <div class="acciones">
            <h2>Acciones</h2>
            <button mat-raised-button color="primary" (click)="procesar()" class="btnAccion">Procesar</button>
            <button mat-raised-button color="primary" (click)="salir()" class="btnAccion">Eliminar</button>
        </div>
    </div>
</div>
